@page "/upload"
@inject NavigationManager NavManager

@* mudcarousel item that displays the most scans by user IDs, the most scans on a reader, the unique users scanned, and the least reader scans*@
<MudCarousel Class="mud-width-full" Style="height:100px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" AutoCycleTime ="@autocycletime" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            @* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
            <MudText Style="font-size:20px"  Color="@Color.Secondary" Class="mx-auto my-auto" Align="Align.Center">Most scans by UserID: @returnMostScans()</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Style="font-size:20px" Color="@Color.Secondary" Class="mx-auto my-auto" Align="Align.Center">Most scans: @mostReaderScans()</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Style="font-size:20px" Color="@Color.Secondary" Class="mx-auto my-auto" Align="Align.Center">Unique users scanned: @uniqueUsers()</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Style="font-size:20px" Color="@Color.Secondary" Class="mx-auto my-auto" Align="Align.Center">Least reader scans: @foreach(var i in leastReaderScans()){@i}</MudText>
        </div>
    </MudCarouselItem>
    
</MudCarousel>

<br><br>


@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>Error: @ErrorMessage</div>
}


@if (files != null)
{
    <MudList T="string">
        @foreach (var file in files)
        {
            <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                @file.Name <code>@file.Size bytes</code>
            </MudListItem>
        }
       
    </MudList>
}
@* loops through the top five list in order of reader scans, descending order *@
@if (readerIDDict != null && readerIDDict.Count > 0)
{
    <MudSimpleTable>
        <thead>
            <tr style="background-color: black; color:white;">
                <th>Reader ID</th>
                <th>Reader name</th>
                <th>Number of scans</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var readerEvents in processTopFive())
            {
                var readerId = readerEvents.First().ReaderId;
                var readerName = readerEvents.First().ReaderDesc;
                var scanCount = readerEvents.Count;

                <tr>
                    <td>@readerId</td>
                    <td>@readerName</td>
                    <td>@scanCount</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

}
else
{
    <p>No data available.</p>
    <p>@(readerIDDict !=null)</p>
    <p>@(readerIDDict.Count > 0)</p>
    @foreach(var kvp in readerIDDict){
        <p>@kvp.Value</p>
    }

}
<br><br>
@* loops through events and orders them in days of the week  *@
@if (masterDictionary != null && masterDictionary.Count > 0)
{

    <MudSimpleTable>
        <thead>
            <tr style="background-color: black; color:white;">
                <th>Day of week</th>
                <th>Number of scans per day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kvp in orderedMasterDictionary())
            {
                <tr>
                    <td>@kvp.Key</td>
                    <td>@kvp.Value.Count</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

}
else
{
    <p>No data available.</p>
    <p>@(masterDictionary !=null)</p>
    <p>@(masterDictionary.Count > 0)</p>
    @foreach(var kvp in masterDictionary){
        <p>@kvp.Value</p>
    }

}
@* chart that displays days of the week activity*@
<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options"/>
</div>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="returnHome">Upload another file</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="downloadNewPDF">Download a summarized .pdf</MudButton>
@code
{
    // variables 
    private readonly List<string> dayOrder = new List<string>
    {
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
    };
    private TimeSpan autocycletime = new TimeSpan(0,0,10);
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private int Index = -1;
    public ChartOptions Options = new ChartOptions(){
        ChartPalette = new[] { "#ef4638"},
    };
    
    public string[] XAxisLabels = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday"};
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private Dictionary<string, List<ReaderEvent>> readerIDDict = StaticReaderEvent.ReaderIDDict;
    private Dictionary<string, List<ReaderEvent>> masterDictionary = StaticReaderEvent.MasterDictionary;
    public List<ChartSeries> Series = StaticReaderEvent.Series;
    public string FileName { get; set; } = StaticReaderEvent.FileName;
    public long FileSize { get; set; } = StaticReaderEvent.FileSize;
    public long FileSizeMB { get; set; } = StaticReaderEvent.FileSizeMB;
    public string FileType { get; set; } = StaticReaderEvent.FileType;
    public DateTimeOffset LastModified { get; set; } = StaticReaderEvent.LastModified;
    public string ErrorMessage { get; set; } = "";
    private void UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        foreach (var file in files)
        {
            this.files.Add(file);
        }
    }

    public void UploadFiles2(IBrowserFile file)
    {
        Console.WriteLine("test");
        files.Add(file);
        NavManager.NavigateTo("upload");
        FileUploaded(file);
    }
    
    
    public class ReaderEvent{
        
        
        public string Time {get; set;}
        public string Location {get; set;}
        public string ReaderDesc {get; set;}
        public string ReaderIdHash {get; set;}
        public string DevId {get; set;}
        public string MachineId {get; set;}
        public string ReaderId {get; set;}

        public ReaderEvent(){
            Time = "0";
            Location = "";
            ReaderDesc = "";
            ReaderIdHash = "";
            DevId = "";
            MachineId = "";
            ReaderId = MachineId + DevId;

        }
        public ReaderEvent(string newTime, string newLocation, string newReaderDesc, string newReaderIdHash, string newDevID, string newMachineId){
            Time = newTime;
            Location = newLocation;
            ReaderDesc = newReaderDesc;
            ReaderIdHash = newReaderIdHash;
            DevId = newDevID;
            MachineId = newMachineId;
            ReaderId = MachineId + DevId;
        }
        public override string ToString(){
            return $"Time: {Time}. Location: {Location}. Reader Description: {ReaderDesc}. DevId: {DevId}. Machine ID: {MachineId}";
        }
        // populates the dictionary that contains the date time info with days of the week
         public static Dictionary<string,List<ReaderEvent>> masterDict(List<ReaderEvent> newReaderEvents){
            Dictionary<string,List<ReaderEvent>> keyValuePairs = new Dictionary<string, List<ReaderEvent>>();
            foreach(ReaderEvent i in newReaderEvents){
                DateTime dateTime = DateTime.Parse(i.Time);
                string dayValue = dateTime.ToString("D").Split(",")[0];
                if(keyValuePairs.ContainsKey(dayValue)){
                    keyValuePairs.TryGetValue(dayValue, out var value);
                    value.Add(i);
                }
                else{
                    List<ReaderEvent> newReader = new List<ReaderEvent>();
                        newReader.Add(i);
                        keyValuePairs.Add(dayValue,newReader);
                }
            }
            return keyValuePairs;
        }
        // populates the dictionary with all of the reader events and readers
        public static Dictionary<String, List<ReaderEvent>> returnDictionary(List<ReaderEvent> readerEvents){
            Dictionary<String,List<ReaderEvent>> returnDict = new Dictionary<string, List<ReaderEvent>>();
            foreach(ReaderEvent i in readerEvents){
                if(returnDict.ContainsKey(i.ReaderId)){
                    returnDict.TryGetValue(i.ReaderId, out var value);
                    value.Add(i);
                }
                else{
                    List<ReaderEvent> newReader = new List<ReaderEvent>();
                    newReader.Add(i);
                    returnDict.Add(i.ReaderId,newReader);
                }
            }
            return returnDict;
            }
        
    public static List<String[]>? returnStrings(string Filename){
    String line;
    List<String[]> returnString = new List<string[]>();
    try
    {
        using (StreamReader sr = new StreamReader(Filename))
        {
            line = sr.ReadLine();
            line = sr.ReadLine();
            while (line != null)
            {
                returnString.Add(line.Split(','));
                line = sr.ReadLine();
            }
        }
    }
    catch (Exception e)
    {
        Console.WriteLine("Exception: " + e.Message + " in returnStrings");
        return null;
    }
    finally
    {
        Console.WriteLine("Executing finally block.");
    }

    return returnString;
}

        public static List<ReaderEvent> Display(List<String[]> returnList){
            List<ReaderEvent> readerEvents = new List<ReaderEvent>();
            foreach(string[] i in returnList){
                if (i.Length >= 5)
                {
                    ReaderEvent newReader = new ReaderEvent(i[0], i[1], i[2], i[3], i[4], i[5]);
                    readerEvents.Add(newReader);
                }
            }
             return readerEvents;
        }

        


        

        

    }


    public static class StaticReaderEvent{
        public static List<ReaderEvent> readerEvents = new List<ReaderEvent>();
        public static string FileName { get; set; } = "";
        public static long FileSize { get; set; }
        public static long FileSizeMB {get; set;}
        public static string FileType { get; set; } = "";
        public static DateTimeOffset LastModified { get; set; }
        public static string ErrorMessage { get; set; } = "";
        public static Dictionary<string,List<ReaderEvent>> ReaderIDDict { get; set; } = new();
        public static Dictionary<string, List<ReaderEvent>> MasterDictionary { get; set; } = new();
        public static List<ChartSeries> Series  { get; set; } = new()
        {
            new ChartSeries() { Name = "Days of the week", Data = new double[6]  },
        };
    }

    
    private List<ReaderEvent> newEvents = new List<ReaderEvent>();
    const int MAX_FILESIZE = 1000000 * 1024;
    
    public async Task FileUploaded(IBrowserFile file)
{
    var browserFile = file;

    if (browserFile != null)
    {
        StaticReaderEvent.FileSize = browserFile.Size;
        StaticReaderEvent.FileSizeMB = FileSize / 1_000_000;
        StaticReaderEvent.FileType = browserFile.ContentType;
        StaticReaderEvent.FileName = browserFile.Name;
        StaticReaderEvent.LastModified = browserFile.LastModified;

        FileSize = StaticReaderEvent.FileSize;
        FileSizeMB = StaticReaderEvent.FileSizeMB;
        FileType = StaticReaderEvent.FileType;
        FileName = StaticReaderEvent.FileName;
        LastModified = StaticReaderEvent.LastModified;
        StateHasChanged();
        try
        {
            var fileStream = browserFile.OpenReadStream(MAX_FILESIZE);
            var targetFilePath = Path.Combine(Path.GetTempPath(), FileName);
            Console.WriteLine($"Saving file to: {targetFilePath}");

            using (var destinationStream = new FileStream(targetFilePath, FileMode.Create))
            {
                await fileStream.CopyToAsync(destinationStream);
            }

            finalDisplay(targetFilePath);
            StateHasChanged();
        }
        catch (Exception exception)
        {
            ErrorMessage = exception.Message + "test";
        }
    }
}

private void finalDisplay(string fileName)
// calls the method to populate the dictionaries and lists, displays info
    {
        StaticReaderEvent.FileName = Path.GetFileName(fileName);
        List<string[]> listCount = ReaderEvent.returnStrings(fileName);
        if (listCount != null)
        {
            
            newEvents = ReaderEvent.Display(listCount);
            readerIDDict = ReaderEvent.returnDictionary(newEvents);
            masterDictionary = ReaderEvent.masterDict(newEvents);

            StaticReaderEvent.ReaderIDDict = readerIDDict;
            StaticReaderEvent.MasterDictionary = masterDictionary;
            double[] eventCounts = new double[7];
            foreach (var kvp in masterDictionary)
        {
            switch (kvp.Key)
            {
                case "Sunday": eventCounts[0] = kvp.Value.Count; break;
                case "Monday": eventCounts[1] = kvp.Value.Count; break;
                case "Tuesday": eventCounts[2] = kvp.Value.Count; break;
                case "Wednesday": eventCounts[3] = kvp.Value.Count; break;
                case "Thursday": eventCounts[4] = kvp.Value.Count; break;
                case "Friday": eventCounts[5] = kvp.Value.Count; break;
                case "Saturday": eventCounts[6] = kvp.Value.Count; break;
            }
        }
        Series[0].Data = eventCounts;
        }
        
        StateHasChanged();
    }
    //takes the parameter that I passed from the url in Home.razor
    [Parameter]
    [SupplyParameterFromQuery]
    public string FilePath { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(FilePath))
        {
            finalDisplay(FilePath);
            StateHasChanged();
        }
    }
    private void returnHome(){
        NavManager.NavigateTo("/");
    }
    // returns which userID has the most scans
    private string returnMostScans(){
    if (readerIDDict != null && readerIDDict.Count > 0){
    List<string> strings = new List<string>();
    foreach (var kvp in readerIDDict)
            {
                @foreach(ReaderEvent i in kvp.Value){
                    strings.Add(i.ReaderIdHash);
                }
                
                
    }
    var most = (from i in strings
            group i by i into grp
            orderby grp.Count() descending
            select grp.Key).First();
    return most;
    }
    return null;
    }
    // identifies how many unique users there are
    private int uniqueUsers(){
    List<string> strings = new List<string>();
    if (readerIDDict != null && readerIDDict.Count > 0){
        foreach(var kvp in readerIDDict){
            @foreach(ReaderEvent i in kvp.Value){
                    if(!strings.Contains(i.ReaderIdHash)){
                        strings.Add(i.ReaderIdHash);
                    }
                }
        }
    }
    return strings.Count;
    }
    // which reader has the most scans
    private string mostReaderScans(){
        @if (readerIDDict != null && readerIDDict.Count > 0){
        int maxVal = 0;
        string maxValReader = "";
            @foreach (var kvp in readerIDDict)
                {
                var readerId = kvp.Key; 
                var readerEvents = kvp.Value;
                var readerName = readerEvents.First().ReaderDesc;
                if(readerEvents.Count > maxVal){
                    maxVal = readerEvents.Count;
                    maxValReader = readerName + " with " + maxVal + " scans.";
                }     
        }
    return maxValReader;
    }
    else{
        return null;
    }
    }
    // which reader has the least scans
    private List<string> leastReaderScans(){
        @if (readerIDDict != null && readerIDDict.Count > 0){
        List<string> minVals = new List<string>();
        int minVal = int.MaxValue;
        string minValReader = "";
            @foreach (var kvp in readerIDDict)
                {
                var readerId = kvp.Key; 
                var readerEvents = kvp.Value;
                var readerName = readerEvents.First().ReaderDesc;
                if(minVal > readerEvents.Count){
                    minVal = readerEvents.Count;
                }     
        }
    @foreach (var kvp in readerIDDict)
                {
                var readerId = kvp.Key; 
                var readerEvents = kvp.Value;
                var readerName = readerEvents.First().ReaderDesc;
                if(minVal == readerEvents.Count){
                    minValReader = readerName + " with " + minVal + " scan(s). ";
                    minVals.Add(minValReader);
                }     
        }
    Console.WriteLine(minVals.Count);
    return minVals;
    }
    else{
        return null;
    }
    }
    // processes the top five panels and orders them by scans
    private List<List<ReaderEvent>> processTopFive(){
    if (readerIDDict == null || readerIDDict.Count == 0)
    {
        return new List<List<ReaderEvent>>();
    }

    return readerIDDict
        .OrderByDescending(kvp => kvp.Value.Count)
        .Take(5)
        .Select(kvp => kvp.Value)
        .ToList();
}

private IEnumerable<KeyValuePair<string, List<ReaderEvent>>> orderedMasterDictionary()
    {
        if (masterDictionary != null && masterDictionary.Count > 0)
        {
            return masterDictionary
                .OrderBy(kvp => dayOrder.IndexOf(kvp.Key)); 
        }
        return Enumerable.Empty<KeyValuePair<string, List<ReaderEvent>>>();
    }

    private void downloadNewPDF(){
        // creating a currentDateTimeFile specifically to use in the file name due to windows blocking all file names with ":" or "/"
        string currentDateTimeFile = DateTime.Now.ToString("MM-dd-yyyy hh-mm-ss" );
        string currentDateTimeText = DateTime.Now.ToString("MM/dd/yyyy at hh:mm:ss");
        Console.WriteLine(StaticReaderEvent.FileName);
        string filePathName = StaticReaderEvent.FileName + " at " + currentDateTimeFile + ".pdf";
        using var doc = new Document(new PdfDocument(new PdfWriter(filePathName)));
        doc.Add(new Paragraph("Summary of information from .csv"));
        Table baseInfoTable = new Table(UnitValue.CreatePercentArray(2)).UseAllAvailableWidth();
        baseInfoTable.AddCell("Uploaded .csv file name");
        baseInfoTable.AddCell($"{StaticReaderEvent.FileName}");
        baseInfoTable.AddCell("Date & Time downloaded");
        baseInfoTable.AddCell($"{currentDateTimeText}");
        baseInfoTable.AddCell("Most scans by User ID hash");
        baseInfoTable.AddCell($"{returnMostScans()}");
        doc.Add(baseInfoTable);
        doc.Add(new Paragraph("Top 5 most active readers"));
        Table readerEntryTable = new Table(UnitValue.CreatePercentArray(3)).UseAllAvailableWidth();
        foreach (var readerEvents in processTopFive())
            {
                var readerId = readerEvents.First().ReaderId;
                var readerName = readerEvents.First().ReaderDesc;
                var scanCount = readerEvents.Count;
                readerEntryTable.AddCell($"Reader ID: {readerId.ToString()}");
                readerEntryTable.AddCell($"Reader Name: {readerName.ToString()}");
                readerEntryTable.AddCell($"Number of Scans: {scanCount.ToString()}");
            } 
        doc.Add(readerEntryTable);
        Table entriesByDayOfWeek = new Table(UnitValue.CreatePercentArray(2)).UseAllAvailableWidth();
        doc.Add(new Paragraph("Day of the week and entries per day"));
        foreach (var kvp in orderedMasterDictionary())
            {
                entriesByDayOfWeek.AddCell($"Day: {kvp.Key}");
                entriesByDayOfWeek.AddCell($"Number of scans: {kvp.Value.Count.ToString()}");
            } 
        doc.Add(entriesByDayOfWeek);
    

        

        
    }

}
